/* bgColor body */
body{
    background-color: #faa622;
}

/* Header */
header{
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.container-fluid .row{
    vertical-align: bottom  ;
    padding-bottom: 5px;
    background-color: gold;
    z-index: 999;
}
/* header */


/* logo */
.col-md-2 img{
    margin-top: 2px;
    height: 38px;
    width: 137;
}
/* /logo */



/* searhBar */
.srchBar{
    float: left;
    width: 800px;
    margin-top: 10px;
    text-align: center;
    border: none;
    border-radius: 4px;
    outline: none;
}
/* /searchBar */



/* icon */
.icon{
    background-color: white;
    margin-top: 0px;
    width: 100%;
    height: 25px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25)
}

.icon ul li{
    list-style: none;
    display: inline-block;
}

.icon ul li a{
    color: black;
    text-decoration: none;
    margin-right: 25px;
}



.hp{
    transition: all 0.15s ease;
}

.hp:hover{
    color: #ffe52c;
}

.hp:active{
    opacity: 0.6;
}



.lptp{
    transition: all 0.15s ease;
}

.lptp:hover{
    color: #7fe6ef;
}

.lptp:active{
    opacity: 0.6;
}



.tblt{
    transition: all 0.15s ease;
}

.tblt:hover{
    color: #c4d70c;
}

.tblt:active{
    opacity: 0.6;
}

.tv{
    transition: all 0.15s ease;
}

.tv:hover{
    color: #c22303;
}

.tv:active{
    opacity: 0.6;
}
/* /icon */

/* scroll */
main{
    padding: 16px;
    margin-top: 30px;
    height: 1200px;
}
/* /scroll */

/* carousel */
h3{
    color: white;
}

.carousel-inner img{
    border: none;
    border-radius: 10px;
    height: 400px;
    margin-bottom: 20px;
}

.carousel-caption{
    background-color: rgba(225,229,44,0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 100%;
    width:100%;
    left: 0;
}

.carousel-caption h5{
    color: black
}
/* /carousel */

/* catalogue */
.container h3{
    margin-top: 20px;
}

.cell{
    width: 33%;
    height: 350px;
    margin: 0px 15px;
    overflow: hidden;
    border-radius: 10px;
}

.cell img{
    width:100%;
    height: 350px;
    object-fit: cover;
}
/* /catalogue */

/* sponsor */
.tokped{
    border: none;
    border-radius: 4px;
    width: 191px;
    height: 75px;
    margin-right: 8px;
}

.tokped img{
    width: 145px;
    height: 45px;
}

.blibli{
    border: none;
    border-radius: 4px;
    width: 191px;
    height: 75px;
    margin-right: 8px;
}

.blibli img{
    width: 145px;
    height: 45px;
}

.lazada{
    border: none;
    border-radius: 4px;
    width: 191px;
    height: 75px;
    margin-right: 8px;
}

.lazada img{
    width: 145px;
    height: 45px;
}

.shopee{
    border: none;
    border-radius: 4px;
    width: 191px;
    height: 75px;
    margin-right: 8px;
}

.shopee img{
    width: 145px;
    height: 45px;
}
/* /sponsor */

/* footer */
    footer{
    bottom: 0;
    position: relative;
    width: 100%;
    margin-top: 1200px;
    }

    footer .container-fluid ul li{
        list-style: none;
        display: inline-flex;
        text-align: center;
    }

    footer .container-fluid ul li a{
        color: white;
        text-decoration: none;
        margin-left: 70px;
    }

    footer{
        color: white;
        text-align: center;
    }
/* /footer */