body{
    background-color: #faa622;
}

.logIn-box{
    width: 360px;
    height: 280px;
    margin: auto;
    background-color: white;
    border-radius: 4px;
}

.signUp-box{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 4px;
}

h1{
    text-align: center;
    padding-top: 15px;
}

form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input{
    width: 100%;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

button[type="submit"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    background-color: gold;
    color: white;
    font-size: 18px;
    transition: all 0.15s ease;
}

button[type="submit"]:hover{
    background-color: rgb(238, 204, 12);
}

button a{
    text-decoration: none;
    color: white;
}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.pq{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
}

.pq a{
    color: blue;
}